Repository vaadin/spring, pull requests merged in 2021-09, with the labels that each got.

#892 test: use locked version of mobx dep
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/Application.java
Labels: fusion, target/18.0

#893 test: fusion test dep with @Npmpackage instead of package.json
  vaadin-spring-tests/test-spring-security-fusion/package.json
  vaadin-spring-tests/test-spring-security-fusion/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/Application.java
Labels: fusion

#895 test: lock mobx to 6.3.3
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/view.ts
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/Application.java
Labels: target/18.0

#896 test: lock fusion test deps without package.json
  vaadin-spring-tests/pom.xml
  vaadin-spring-tests/test-spring-security-fusion-contextpath/package.json
  vaadin-spring-tests/test-spring-security-fusion-contextpath/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/view.ts
  vaadin-spring-tests/test-spring-security-fusion/package.json
  vaadin-spring-tests/test-spring-security-fusion/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion/pom.xml
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/Application.java
Labels: target/17.0, target/18.0

#897 chore: add confirm-dialog to get correct versions
  vaadin-spring-tests/pom.xml
  vaadin-spring-tests/test-spring-security-fusion/pom.xml
Labels: target/17.0, target/18.0

#903 test: use @vaadin/fusion-frontend for fusion imports
  vaadin-spring-tests/test-spring-security-fusion/frontend/auth.ts
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/login-view.ts
  vaadin-spring-tests/test-spring-security-fusion/src/test/java/com/vaadin/flow/spring/fusionform/FusionFormIT.java
  vaadin-spring-tests/test-ts-services-custom-client/frontend/connect-client.ts
Labels: fusion

#905 chore: reenable an ignored test
  vaadin-spring-tests/test-spring-security-fusion/src/test/java/com/vaadin/flow/spring/fusionform/FusionFormIT.java
Labels: fusion

#900 feat(fusion): add stateless option to VaadinWebSecurityConfigurerAdapter
  vaadin-spring-tests/test-spring-security-fusion-contextpath/src/main/java/com/vaadin/flow/spring/fusionsecurity/endpoints/BalanceEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/pom.xml
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/Application.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/auth/JwtSplitCookieBearerTokenConverterFilter.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/auth/JwtSplitCookieManagementFilter.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/auth/JwtSplitCookieUtils.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/config/SecurityConfiguration.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/config/VaadinStatelessSavedRequestAwareAuthenticationSuccessHandler.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/config/VaadinStatelessWebSecurityConfig.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/resources/application.properties
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/test/java/com/vaadin/flow/spring/fusionsecurityjwt/SecurityIT.java
  vaadin-spring-tests/test-spring-security-fusion/pom.xml
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/SecurityConfig.java
  vaadin-spring-tests/test-spring-security-fusion/src/test/java/com/vaadin/flow/spring/fusionsecurity/SecurityIT.java
  vaadin-spring/pom.xml
  vaadin-spring/src/main/java/com/vaadin/flow/spring/security/JwtSecurityContextRepository.java
  vaadin-spring/src/main/java/com/vaadin/flow/spring/security/SerializedJwtSplitCookieRepository.java
  vaadin-spring/src/main/java/com/vaadin/flow/spring/security/VaadinDefaultRequestCache.java
  vaadin-spring/src/main/java/com/vaadin/flow/spring/security/VaadinStatelessSecurityConfigurer.java
  vaadin-spring/src/main/java/com/vaadin/flow/spring/security/VaadinWebSecurityConfigurerAdapter.java
  vaadin-spring/src/test/java/com/vaadin/flow/spring/SpringClassesSerializableTest.java
  vaadin-spring/src/test/java/com/vaadin/flow/spring/security/SerializedJwtSplitCookieRepositoryTest.java
  vaadin-spring/src/test/java/com/vaadin/flow/spring/security/VaadinDefaultRequestCacheTest.java
Labels: fusion
