Repository vaadin/spring, pull requests merged in 2021-08, with the labels that each got.

#866 chore: align updated dependency versions
  vaadin-spring-tests/test-spring-common/pom.xml
  vaadin-spring-tests/test-spring-security-fusion-contextpath/package.json
  vaadin-spring-tests/test-spring-security-fusion-contextpath/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion/package.json
  vaadin-spring-tests/test-spring-security-fusion/pnpm-lock.yaml
Labels: fusion, target/18.0, to be cherry-picked

#870 chore: replace deprected lit- imports
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/admin/admin-view.ts
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/login-view.ts
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/main-view.ts
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/private/private-view.ts
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/public/public-view.ts
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/public/vaadin-elements-view.ts
  vaadin-spring-tests/test-ts-services-custom-client/frontend/main-view.ts
Labels: fusion

#868 fix!: remove session-stored CSRF token support
  vaadin-spring-tests/test-ts-services-custom-client/src/test/java/com/vaadin/flow/connect/AppViewIT.java
  vaadin-spring-tests/test-ts-services/src/test/java/com/vaadin/flow/connect/AppViewIT.java
  vaadin-spring/src/main/java/com/vaadin/flow/spring/security/VaadinSavedRequestAwareAuthenticationSuccessHandler.java
  vaadin-spring/src/test/java/com/vaadin/flow/spring/security/VaadinSavedRequestAwareAuthenticationSuccessHandlerTest.java
Labels: fusion

#839 test: add test module for fusion security with jwt
  vaadin-spring-tests/pom.xml
  vaadin-spring-tests/test-spring-security-fusion-jwt/.gitignore
  vaadin-spring-tests/test-spring-security-fusion-jwt/package.json
  vaadin-spring-tests/test-spring-security-fusion-jwt/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion-jwt/pom.xml
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/Application.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/JwtSecurityUtils.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/auth/JwtSplitCookieBearerTokenConverterFilter.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/auth/JwtSplitCookieManagementFilter.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/auth/JwtSplitCookieUtils.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/config/SecurityConfiguration.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/config/VaadinStatelessSavedRequestAwareAuthenticationSuccessHandler.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/config/VaadinStatelessWebSecurityConfig.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/endpoints/BalanceEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/endpoints/ElementsEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/endpoints/PublicEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/main/java/com/vaadin/flow/spring/fusionsecurityjwt/endpoints/UserInfoEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion-jwt/src/test/java/com/vaadin/flow/spring/fusionsecurityjwt/SecurityIT.java
Labels: fusion

#874 chore: align component versions
  vaadin-spring-tests/test-spring-security-fusion-contextpath/package.json
  vaadin-spring-tests/test-spring-security-fusion-contextpath/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion-jwt/package.json
  vaadin-spring-tests/test-spring-security-fusion-jwt/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion/package.json
  vaadin-spring-tests/test-spring-security-fusion/pnpm-lock.yaml
Labels: target/18.0

#875 chore: align component versions (#874)
  vaadin-spring-tests/test-spring-security-fusion-contextpath/package.json
  vaadin-spring-tests/test-spring-security-fusion-contextpath/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion/package.json
  vaadin-spring-tests/test-spring-security-fusion/pnpm-lock.yaml
Labels: fusion
