Repository vaadin/spring, pull requests merged in 2021-06, with the labels that each got.

#833 Cherry pick #740 to master
  vaadin-spring/src/main/java/com/vaadin/flow/spring/SpringLookupInitializer.java
Labels: target/17.0

#799 test: add fusion form integration tests
  vaadin-spring-tests/test-spring-security-flow-contextpath/src/test/java/com/vaadin/flow/spring/flowsecuritycontextpath/AppViewIT.java
  vaadin-spring-tests/test-spring-security-fusion-contextpath/package.json
  vaadin-spring-tests/test-spring-security-fusion-contextpath/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion-contextpath/src/main/java/com/vaadin/flow/spring/fusionform/ElementsEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion-contextpath/src/test/java/com/vaadin/flow/spring/fusionsecuritycontextpath/SecurityIT.java
  vaadin-spring-tests/test-spring-security-fusion/frontend/routes.ts
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/main-view.ts
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/public/vaadin-elements-view.ts
  vaadin-spring-tests/test-spring-security-fusion/package.json
  vaadin-spring-tests/test-spring-security-fusion/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion/pom.xml
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionform/Elements.java
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionform/ElementsEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/SecurityConfig.java
  vaadin-spring-tests/test-spring-security-fusion/src/test/java/com/vaadin/flow/spring/fusionform/FusionFormIT.java
  vaadin-spring-tests/test-spring-security-fusion/src/test/java/com/vaadin/flow/spring/fusionsecurity/SecurityIT.java
Labels: fusion

#842 chore: update spring-boot to 2.5.1
  pom.xml
  vaadin-spring-tests/test-spring-common/pom.xml
  vaadin-spring-tests/test-spring-common/src/main/java/com/vaadin/flow/spring/test/EmbeddedJettyConfiguration.java
Labels: target/12.4, target/17.0

#847 chore: check browser logs for Fusion form IT
  vaadin-spring-tests/test-spring-security-fusion-contextpath/src/main/java/com/vaadin/flow/spring/fusionsecurity/endpoints/ElementsEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/public/vaadin-elements-view.ts
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/endpoints/ElementsEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/fusionform/Elements.java
  vaadin-spring-tests/test-spring-security-fusion/src/test/java/com/vaadin/flow/spring/fusionform/FusionFormIT.java
Labels: fusion

#846 test: verify null value in endpoint response transforms to undefined
  vaadin-spring-tests/test-ts-services/frontend/src/test-component.js
  vaadin-spring-tests/test-ts-services/src/main/java/com/vaadin/flow/connect/AppEndpoint.java
  vaadin-spring-tests/test-ts-services/src/main/java/com/vaadin/flow/connect/ObjectWithNullValues.java
  vaadin-spring-tests/test-ts-services/src/test/java/com/vaadin/flow/connect/AppViewIT.java
Labels: fusion

#845 test: add tests for fusion form null value validation
  vaadin-spring-tests/test-spring-security-fusion/frontend/views/public/vaadin-elements-view.ts
  vaadin-spring-tests/test-spring-security-fusion/src/test/java/com/vaadin/flow/spring/fusionform/FusionFormIT.java
Labels: fusion

#850 fix: avoid NPE in SpringApplicationConfigurationFactory
  vaadin-spring/src/main/java/com/vaadin/flow/spring/SpringApplicationConfigurationFactory.java
  vaadin-spring/src/main/java/com/vaadin/flow/spring/SpringLookupInitializer.java
  vaadin-spring/src/test/java/com/vaadin/flow/spring/SpringApplicationConfigurationFactoryTest.java
Labels: target/16.0, target/17.0

#854 chore: update for fusion package renaming
  vaadin-spring-tests/test-spring-security-fusion-contextpath/package.json
  vaadin-spring-tests/test-spring-security-fusion-contextpath/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion-contextpath/src/main/java/com/vaadin/flow/spring/fusionsecurity/endpoints/BalanceEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion-contextpath/src/main/java/com/vaadin/flow/spring/fusionsecurity/endpoints/ElementsEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion-contextpath/src/main/java/com/vaadin/flow/spring/fusionsecurity/endpoints/PublicEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion-contextpath/src/main/java/com/vaadin/flow/spring/fusionsecurity/endpoints/UserInfoEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion/package.json
  vaadin-spring-tests/test-spring-security-fusion/pnpm-lock.yaml
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/endpoints/BalanceEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/endpoints/ElementsEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/endpoints/PublicEndpoint.java
  vaadin-spring-tests/test-spring-security-fusion/src/main/java/com/vaadin/flow/spring/fusionsecurity/endpoints/UserInfoEndpoint.java
  vaadin-spring-tests/test-ts-services-custom-client/src/main/java/com/vaadin/flow/connect/AppEndpoint.java
  vaadin-spring-tests/test-ts-services/src/main/java/com/vaadin/flow/connect/AppEndpoint.java
  vaadin-spring-tests/test-ts-services/src/main/java/com/vaadin/flow/connect/PackagePrivateEndpoint.java
  vaadin-spring/src/main/java/com/vaadin/flow/spring/VaadinServletContextInitializer.java
  vaadin-spring/src/main/java/com/vaadin/flow/spring/security/RequestUtil.java
  vaadin-spring/src/test/java/com/vaadin/flow/spring/security/RequestUtilTest.java
  vaadin-spring/src/test/java/com/vaadin/flow/spring/security/VaadinDefaultRequestCacheTest.java
Labels: fusion
